html{
    background: #212121;
  }
  
  body{
    font-family: 'Source Code Pro', monospace;
    background: #212121;
    color: #52575d;
  }

.logout{
  float:right;
  /* margin-bottom:20px; */
}
  
  a{
    color: #52575d;
  }
  .yellow{
    color: #ffd369;
  }
  .correct{
    color: #29bb89;
  }
  .wrong{
    color: #e84545;
    text-decoration: underline;
  }
  .current{
    color: #eeeeee;
  }
  .center{
    text-align: center;
  }
  .if{
    display: inline-flex;
  }

.main-layout{
  display:flex; 

}
  
  .box {
    max-width: 900px;
    padding: 0 30px;
  }
  
  #heading{
    align-self: left;
    margin-top: 50px;
    font-size: 1.75rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  .limits-box{
    text-align: right;
    margin: 50px 20px 0 0 ;
    font-size: 15px;
  }
  
  .stats{
    margin: 10px auto 20px auto;
  }
  
  .details{
    font-size: 6rem;
  }
  .stat-block{
    padding: 0 30px;
    min-width: 250px;
  }
  
  @media(max-width: 600px){
    .details{
      font-size: 5rem;
    }
    .stat-block{
      min-width: 0;
    }
  }
  
  .stat-name{
    font-size: 1rem;
    position: relative;
    top: 45px;
    right: 5px;
  }
  
  .text-display{
    margin: 0 0 22px 0;
    font-size: 21px;
    text-align: left;
    min-height: 200px;
  }
  
  input:focus, textarea:focus, select:focus, a:focus{
    outline: 0 ;
  }
  a:focus,a:hover{
    color: #ffd369;
    text-decoration: none;
  }
  
  footer{
    padding: 20px;
    font-size: 15px;
  }
  
  .restart-button{
    padding: 10px;
  }
  
  textarea{
    background: #212121;
    border: solid, #52575d;
    border-width: 2px;
    border-radius: 10px;
    color: #eeeeee;
    padding: 10px;
    font-size: 1.2rem;
    resize: none;
    text-align: center;
    margin-bottom: 15px;
  }

/* Loading animation */

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
  
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}